<div class="wrapper wrapper-content" ng-controller="RecetaCtrl">
    <div class="row">
        <h2>Receta M&eacute;dica</h2>
        <div class="row" >
            <form class="form" role="form" ng-subit="registerClickq();">
              <div class="form-group col-md-6 col-lg-12 col-sm-12">
                <div style="float: right;">
                    <label>Fecha</label>
                    <input type="date" id="exampleInput" name="input" ng-model="example.value" placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
                </div>
              </div>
              <div class="form-group col-md-12 col-lg-9 col-sm-12">
                    <label>Nombre M&eacute;dico</label>
                  <input type="text" class="form-control" ng-model="nombreMedico" placeholder="Nombre M&eacute;dico" required="true">
              </div>
              <div class="form-group col-md-12 col-lg-3 col-sm-12">
                    <label>C&eacute;dula Profesional</label>
                  <input type="text" class="form-control" ng-model="medico.cedula" placeholder="C&eacute;dula Profesional" required="true">
              </div>

                <div class="form-group col-md-6 col-lg-12 col-sm-12">
                      <label>Nombre Paciente</label>
                    <input type="text" class="form-control" ng-model="datPaciente.nombrePaciente" placeholder="Nombre" required="true">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Peso</label>
                    <input type="text" class="form-control" ng-model="datPaciente.peso" placeholder="Peso">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Estatura</label>
                    <input type="text" class="form-control" ng-model="datPaciente.statura" placeholder="Estatura">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Presi&oacute;n</label>
                    <input type="text" class="form-control" ng-model="datPaciente.presion" placeholder="Presi&oacute;n">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Temperatura</label>
                    <input type="text" class="form-control" ng-model="datPaciente.temperatura" placeholder="Temperatura">
                </div>
                <div class="col-lg-12">
                  <br>
                  <br>
                </div>

                <!-- <hr style=" display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 16px; margin-right: 16px;border-style: inset;border-width: 1px;"></hr> -->
                <span style="margin-left:16px"><label>Paciente Masculino de edad $ presenta los siguientes sintomas</label></span>
                <hr style=" display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 16px; margin-right: 16px;border-style: inset;border-width: 1px;"></hr>
                <div class="form-group col-md-6 col-lg-12 col-sm-12">
                  <br>
                  <br>
                  <label>Subjetivo</label>
                  <textarea style="width: 100%;height: 120px; resize:none" ng-model="datPaciente.subjetivo"></textarea>
                  <br>
                  <br>
                  <label>Objetivo</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.objetivo"></textarea>
                  <br>
                  <br>
                  <label>An&aacute;lisis</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.analisis"></textarea>
                  <br>
                  <br>
                  <label>Diagn&oacute;stico</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.diagnostico"></textarea>
                  <br>
                  <br>
                  <br>
                  <label>Tratamiento</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.tratamiento"></textarea>
                  <br>
                  <br>
                  <br>
                  <label> <input type="checkbox" ng-model="master"> An&aacute;lisis de Laboratorio</label><br/>
                  <input type="checkbox" ng-model="checkboxModel.value1">
                  <textarea style="width: 100%;height: 160px; resize:none" ng-show="false" ng-model="datPaciente.laboratorio"></textarea>
                </div>
                <div class="form-group col-md-6 col-lg-12 col-sm-12" style="text-align: right;">
                  <button type="submit" ng-click="cancelar()"class="btn btn-primary"  >Cancelar</button>
                  <button type="submit" ng-click="guardaReceta()"class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>
