<div class="wrapper wrapper-content" style="padding-left:10%;padding-right:10%;padding-top:5%;" ng-controller="RegistroMedicoCtrl">
<div class="row">
  <div class="col-md-6">
      <h2 class="font-bold">Registro de Médicos</h2>
      <p>
          Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      </p>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
          When an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p>
          <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
      </p>
  </div>
  <div class="col-md-6">
  <div class="row">
    <div class="form-group col-md-6 col-lg-6 col-sm-12">
      <p>Crear una cuenta para poder ingresar al sistema.</p>
    </div>
  </div>
    <div class="row" >
        <form class="form" role="form" ng-subit="registerClickq();">
          <div class="form-group col-md-12 col-lg-6 col-sm-12">
                <label>C&eacute;dula Profesional</label>
              <input type="text" class="form-control" ng-model="register.cedula" placeholder="C&eacute;dula Profesional" required="true">
          </div>
          <div class="form-group col-md-12 col-lg-6 col-sm-12">
                <label>Username</label>
              <input type="text" class="form-control" ng-model="register.username" placeholder="Username" required="true">
          </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                  <label>Nombre</label>
                <input type="text" class="form-control" ng-model="register.nombre" placeholder="Nombre" required="true">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Apellido paterno</label>
                <input type="text" class="form-control" ng-model="register.apellidoPaterno" placeholder="Apellido Paterno" required="true">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Apellido materno</label>
                <input type="text" class="form-control" ng-model="register.apellidoMaterno" placeholder="Apellido Materno" required="true">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Fecha Nacimiento</label>
                <input type="date" ng-model="register.fechaNacimiento" class="form-control">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Sexo</label>
                <label class="radio-inline"><input type="radio" ng-model="register.sexo" name="optradio" value="M">Masculino</label>
                <label class="radio-inline"><input type="radio" ng-model="register.sexo" name="optradio" value="F">Femenino</label>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>CURP</label>
                <input type="text" class="form-control" ng-model="register.curp" placeholder="CURP">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>RFC</label>
                <input type="text" class="form-control" ng-model="register.rfc" placeholder="RFC">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Estado civil</label>
                <select class="form-control" ng-model="register.estadoC">
                  <option value="Indistinto">Indistinto</option>
                  <option value="Soltero">Soltero</option>
                  <option value="Casado">Casado</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Nacionalidad</label>
                <select class="form-control" ng-model="register.nacionalidad">
                  <option value="Mexicano">Mexicano</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Lugar de nacimiento</label>
                <input type="text" class="form-control" ng-model="register.lugarNac" placeholder="Lugar de nacimiento">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Calle</label>
                <input type="text" class="form-control" ng-model="register.calle" placeholder="Calle">
            </div>
           <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>N&uacute;mero Exterior</label
                <input type="text" class="form-control" ng-model="register.numEx" placeholder="#">
                <label>Interior</label>
                <input type="text" class="form-control" ng-model="register.numIn" placeholder="#">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Colonia</label>
                <input type="text" class="form-control" ng-model="register.colonia" placeholder="Colonia">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>C&oacute;digo postal</label>
                <input type="text" class="form-control" ng-model="register.cp" placeholder="">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Pais</label>
                <select class="form-control" ng-model="register.pais">
                  <option value="Mexico">Mexico</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Estado</label>
                <select class="form-control" ng-model="register.estado">
                  <option value="">Seleccione</option>
                  <option value="CDMX">Ciudad de M&eacute;xico</option>
                </select>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Telefono 1</label>
                <input type="text" class="form-control" ng-model="register.tel1" placeholder="">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Telefono 2</label>
                <input type="text" class="form-control" ng-model="register.tel2" placeholder="">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Celular</label>
                <input type="text" class="form-control" ng-model="register.cel" placeholder="">
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-12">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="register.email" placeholder="">
            </div>
            <div class="form-group col-md-6 col-lg-6 col-sm-12">
              <button type="submit" ng-click="registerClickq()" class="btn btn-primary block full-width m-b">Reg&iacute;strate</button>
            </div>
            <div class="form-group col-md-6 col-lg-6 col-sm-12">
              <button type="submit" ng-click="cancelar()"class="btn btn-primary block full-width m-b">Cancelar</button>
            </div>
        </form>
    </div>
  </div>
</div>
