<div class="wrapper wrapper-content" style="padding-left:5%; padding-right:5%;" ng-controller="validacionCtrl">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
        <h2>Validar Token</h2>
        <h3>Para poder ver el expediente cl&iacute;nico ingrese el token que el paciente recibi&oacute;</h3>
        </div>
        <form class="form" role="form" ng-submit="validaToken()">
            <div class="form-group col-lg-6 col-md-6  col-sm-12">
                <input class="form-control" type="text" placeholder="Token" ng-model="tokenU" required="">
            </div>
            <div class="form-group col-lg-6 col-md-6  col-sm-12">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>
