<div class="wrapper wrapper-content" ng-controller="InfoPCtrl">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="doc/paciente/#home">Ficha</a></li>
              <li><a data-toggle="tab" href="doc/paciente/#menu1">Antecedentes</a></li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h2>{{d1}}</h2>
                <hr>
                <p>{{d2}}</p>
                <p>{{d3}}</p>
              </div>
              <div id="menu1" class="tab-pane fade">
                <h3>Antecendentes Hereditarios</h3>
                <hr>
                <ul>
                    <li ng-repeat="x in paciente.result.antecedentesHerodo">
                        <p></p>
                    </li>
                </ul>

                <h3>Antecendentes Patologicos</h3>
                <hr>
                <ul>
                    <li ng-repeat="x in paciente.result.antecedentesPato">
                        <p></p>
                    </li>
                </ul>

                <h3>Antecendentes No Patologicos</h3>
                <hr>
                <ul>
                    <li ng-repeat="x in paciente.result.antecedentesNoPato">
                        <p></p>
                    </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content" ng-controller="RecetaCtrl">
  <div class="col-md-12 col-lg-12 col-sm-12 text-right" style="background-color:#fff; padding: 10px;">
      <a class="btn btn-primary" ng-click="verHistorialMedico()"><span class="fa fa-calendar"></span>Historial Notas M&eacute;dicas</a>
      <a class="btn btn-primary" ng-click="realizatx()"><span class="fa fa-file"></span> Crear Nota M&eacute;dica</a>
  </div>
    <div class="row" ng-show="showNotaMedica">
        <h2>Nota M&eacute;dica</h2>
        <div class="row" >
            <form class="form" role="form" ng-subit="registerClickq();">
              <div class="form-group col-md-6 col-lg-12 col-sm-12">
                <div style="float: right;">
                    <label>Fecha</label>
                    <input type="date" id="exampleInput" name="input" ng-model="example.value" placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
                </div>
              </div>
              <div class="form-group col-md-12 col-lg-9 col-sm-12">
                    <label>Nombre M&eacute;dico</label>
                  <input type="text" class="form-control" ng-model="nombreMedico" placeholder="Nombre M&eacute;dico" required="true">
              </div>
              <div class="form-group col-md-12 col-lg-3 col-sm-12">
                    <label>C&eacute;dula Profesional</label>
                  <input type="text" class="form-control" ng-model="medico.cedula" placeholder="C&eacute;dula Profesional" required="true">
              </div>

                <div class="form-group col-md-6 col-lg-12 col-sm-12">
                      <label>Nombre Paciente</label>
                    <input type="text" class="form-control" ng-model="datPaciente.nombrePaciente" placeholder="Nombre" required="true">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Peso</label>
                    <input type="text" class="form-control" ng-model="datPaciente.peso" placeholder="Peso">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Estatura</label>
                    <input type="text" class="form-control" ng-model="datPaciente.statura" placeholder="Estatura">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Presi&oacute;n</label>
                    <input type="text" class="form-control" ng-model="datPaciente.presion" placeholder="Presi&oacute;n">
                </div>
                <div class="form-group col-md-6 col-lg-3 col-sm-12">
                    <label>Temperatura</label>
                    <input type="text" class="form-control" ng-model="datPaciente.temperatura" placeholder="Temperatura">
                </div>
                <div class="col-lg-12">
                  <br>
                  <br>
                </div>

                <!-- <hr style=" display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 16px; margin-right: 16px;border-style: inset;border-width: 1px;"></hr> -->
                <span style="margin-left:16px"><label>Paciente Masculino de edad $ presenta los siguientes sintomas</label></span>
                <hr style=" display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 16px; margin-right: 16px;border-style: inset;border-width: 1px;"></hr>
                <div class="form-group col-md-6 col-lg-12 col-sm-12">
                  <br>
                  <br>
                  <label>Subjetivo</label>
                  <textarea style="width: 100%;height: 120px; resize:none" ng-model="datPaciente.subjetivo"></textarea>
                  <br>
                  <br>
                  <label>Objetivo</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.objetivo"></textarea>
                  <br>
                  <br>
                  <label>An&aacute;lisis</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.analisis"></textarea>
                  <br>
                  <br>
                  <label>Diagn&oacute;stico</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.diagnostico"></textarea>
                  <br>
                  <br>
                  <br>
                  <label>Tratamiento</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-model="datPaciente.tratamiento"></textarea>
                  <br>
                  <br>
                  <br>
                  <label> <input type="checkbox" ng-model="checkboxModel.value1">An&aacute;lisis de Laboratorio</label>
                  <textarea style="width: 100%;height: 160px; resize:none" ng-show="checkboxModel.value1" ng-model="datPaciente.laboratorio"></textarea>
                </div>
                <div class="form-group col-md-6 col-lg-12 col-sm-12" style="text-align: right;">
                  <button type="submit" ng-click="cancelar()"class="btn btn-primary"  >Cancelar</button>
                  <button type="submit" ng-click="guardaReceta()"class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="showHistMedica">
        <h2>Historial Notas M&eacute;dicas</h2>
        <div class="col-md-6 col-lg-12 col-sm-12">
                <table class="table table-stripped">
                <tr ng-repeat="reg in result">
                  <td>
                    <div class="col-lg-10" >
			                      <div class="col-xs-6 col-lg-12 content-licencias" style="padding-top: 5px;padding-bottom: 5px;">
			                        <div class="col-xs-12"><span><b>{{reg.fecha | date:'medium'}}</b></span></div>
			                      </div>
                            <br>
			                      <div class="col-xs-3 col-lg-12 content-licencias" style="padding-top: 5px;padding-bottom: 5px;">
			                        <div class="col-xs-12 "><span><b>Dx:</b></span><span>{{reg.diagnostico}}</span></div>
			                      </div>
                            <div class="col-xs-3 col-lg-12 content-licencias" style="padding-top: 5px;padding-bottom: 5px;">
			                        <div class="col-xs-12 "><span><b>Tx:</b></span><span>{{reg.tratamiento}}</span></div>
			                      </div>
			                  </div>
                        <div class="col-lg-2">
                            <button class="btn btn-success" ng-click="getToken()">Detalle</button></td>
                        </div>
                  </td>
                </tr>
             </table>

            </div>

        </div>
    </div>
