<div class="wrapper wrapper-content" ng-controller="InfoPCtrl">
    <div class="row" ng-show="!histActivo">
        <div class="col-md-12 col-lg-12 col-sm-12 text-right" style="background-color:#fff; padding: 10px;">
            <a class="btn btn-primary" ng-click="verHistorialMedico()"><span class="fa fa-calendar"></span>Ver Hitorial</a>
            <a class="btn btn-primary" ng-click="realizatx()"><span class="fa fa-file"></span> Crear receta</a>
        </div>
        <h2>Información del paciente</h2>
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Nombre</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.nombre">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Apellido Paterno</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.apellidoPaterno">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Apellido Materno</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.apellidoMaterno">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Genero</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.genero">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Email</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.mail">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Telefono</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.telefono">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Peso</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.peso">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Estatura</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.statura">
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-4">
                <label>Tipo sangre</label>
                <input style="background-color:#fff" readonly="" class="form-control" type="text" ng-model="paciente.result.tipo">
            </div>
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <label>Contactos</label>
                <table class="table table-stripped" style="background-color:#fff;">
                        <tr ng-repeat="x in paciente.result.contactos">
                         <td>{{x.contacto}}</td>
                         <td>{{x.parentesco}}</td>
                         <td>{{x.telefono}}</td>
                        </tr>
                </table>
            </div>
            <div class="form-group col-md-4 col-lg-4 col-sm-6">
                <label>Patologicas</label>
                <table class="table table-stripped" style="background-color:#fff;">
                        <tr ng-repeat="x in paciente.result.patologicas">
                         <td>{{x.enfermedad}}</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-show="histActivo" style="background-color:#fff">
         <h2>Historial clinico</h2>
    </div>
</div>
