<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    IN+
                </div>
            </li>  
            <li ui-sref-active="active">
                <a ui-sref="doc.search"><i class="fa fa-search"></i> <span class="nav-label"> Buscar</span></a>
            </li>                     
        </ul>

    </div>
</nav>